.contact_card {
    height: 100%;

    padding: 12px 8px;

    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;

    border: solid 1px black;
    border-radius: 4px;

}

.contact_card_info_container {
}

.contact_card_info_item {
}

.contact_icon {
    margin-right: 8px;
}

.contact_card_btn {
    justify-self: flex-end;
}