.contact_card {
    padding: 12px 8px;

    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;

}

.contact_card_info_container {
}

.contact_card_info_item {
}

.contact_icon {
    margin-right: 8px;
}

.contact_card_btn {
    justify-self: flex-end;
}