:root {
  --light-grey: rgba(242, 242, 239, 0.957);
  --grey: rgba(80, 80, 80, 0.85);
  --middle-grey: rgba(128, 128, 128, 0.29);
  --dark-grey: rgba(0, 0, 0, 0.671);
  --black: black;
  --red: rgba(171, 8, 8, 0.964);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: black;
  background-color: white;
}

#root>*:not(:last-child) {
  margin-bottom: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  font-style: normal;
}

input {
  font-family: inherit;
  outline: transparent;
}

textarea {
  font-family: inherit;
  outline: transparent;
}

/* button {
  font-family: inherit;
  color: currentColor;
  border: none;
} */